@model ProjectCluster.Web.ViewModels.Projects.ProjectViewModel
@{
    this.ViewData["Title"] = Model.Title;
    void DisplayComments(int? parentId)
    {
        var comments = this.Model.Comments.Where(x => x.ParentId == parentId);
        if (!comments.Any())
        {
            return;
        }
        if (!parentId.HasValue)
        {
            @foreach (var comment in comments)
            {
                <li class="media">
                    @*To do: Add user avatar*@
                    <a class="pull-left" href="#">
                        <img class="img-circle" src="/img/small-avatar.png" alt="" />
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading"><a href="/Profile/@comment.UserUserName">@comment.UserUserName</a></h5>
                        <span>
                            <time datetime="@comment.CreatedOn.ToString("O")"></time>
                        </span>
                        <p>
                            @comment.Content
                        </p>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-color btn-rounded" onclick="showAddCommentForm(@comment.Id)">Reply</a>
                        }
                            @{ DisplayComments(comment.Id); }
                        </div>
                </li>
            }
        }
        else
        {
            @foreach (var comment in comments)
            {
                <div class="media">
                    @*To do: Add user avatar*@
                    <a class="pull-left" href="#">
                        <img class="img-circle" src="/img/small-avatar.png" alt="" />
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading"><a href="/Profile/@comment.UserUserName">@comment.UserUserName</a></h5>
                        <span>
                            <time datetime="@comment.CreatedOn.ToString("O")"></time>
                        </span>
                        <p>
                            @comment.Content
                        </p>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-color btn-rounded" onclick="showAddCommentForm(@comment.Id)">Reply</a>
                        }
                        @{ DisplayComments(comment.Id); }
                    </div>
                </div>
            }
        }
    };
}

<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Post <strong>left sidebar</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li><a href="#">Home</a><span class="divider">/</span></li>
                    <li class="active">Post left sidebar</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span4">
                <aside>
                    <div class="widget">
                        <h4>Search</h4>
                        <form class="form-search">
                            <input placeholder="Type something" type="text" class="input-medium search-query">
                            <button type="submit" class="btn btn-flat btn-color">Search</button>
                        </form>
                    </div>
                    <div class="widget">
                        <h4>Categories</h4>
                        <ul>
                            @foreach (var category in Model.SidebarCategories)
                            {
                                <li><i class="@category.IconName"></i><a href="@category.CategoryUrl"><span>  @category.Name (@category.ProjectsCount)</span></a></li>
                            }
                        </ul>
                    </div>
                    <div class="widget">
                        <h4>Recent projects</h4>
                        <ul class="recent-posts">
                            <li>
                                <a href="#"><img src="~/img/dummies/post-50.jpg" alt="" /> Lorem ipsum dolor sit amet munere commodo ut nam</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                                <span class="comment"><i class="icon-comment"></i> 4 Comments</span>
                            </li>
                            <li>
                                <a href="#"><img src="~/img/dummies/post-50.jpg" alt="" /> Sea nostrum omittantur ne mea malis nominavi insolens</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                                <span class="comment"><i class="icon-comment"></i> 2 Comments</span>
                            </li>
                            <li>
                                <a href="#"><img src="~/img/dummies/post-50.jpg" alt="" /> Eius graece recusabo no pri odio tale quo id, mea at saepe</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 4 March, 2013</span>
                                <span class="comment"><i class="icon-comment"></i> 12 Comments</span>
                            </li>
                            <li>
                                <a href="#"><img src="~/img/dummies/post-50.jpg" alt="" /> Malorum deserunt at nec usu ad graeco elaboraret at rebum</a>
                                <div class="clear">
                                </div>
                                <span class="date"><i class="icon-calendar"></i> 3 March, 2013</span>
                                <span class="comment"><i class="icon-comment"></i> 3 Comments</span>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h4>Tags</h4>
                        <ul class="tags">
                            <li><a href="#">Tutorial</a></li>
                            <li><a href="#">Tricks</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Trends</a></li>
                            <li><a href="#">Online</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="span8">
                <article class="blog-post">
                    <div class="post-heading">
                        <h3>@Model.Title</h3>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="flexslider">
                        <ul class="slides">
                            @foreach (var url in Model.Urls)
                            {
                                <li>
                                    <img src=@url />
                                </li>
                            }
                        </ul>
                    </div>
                    <h5>Progress : @Model.Progress%</h5>
                    @if (Model.ProjectStatus.ToString() == "InProgress")
                    {
                        <div class="progress progress-striped active">
                            <div class="bar" style="width: @Model.Progress%;"></div>
                        </div>
                    }
                    else
                    {
                        <div class="progress progress-striped">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                    }
                    <div class="row">
                        <div class="span2">
                            <a class="pull-left" href="#">
                                <img class="img-circle-post" src="~/img/avatar.png" alt="" />
                            </a>
                            <ul class="post-meta">
                                <li class="first"><i class="fas fa-user"></i><span><a href="/Profile/@Model.UserUsername">@Model.UserUsername</a></span></li>
                                <li class="first"><i class="fas fa-calendar-alt"></i><span><time datetime="@Model.CreatedOn.ToString("O")"></time></span></li>
                                <li><i class="fas fa-comments"></i><span>@Model.CommentsCount comments</span></li>
                                <li class="first"><i class="fas fa-star"></i><span>@Model.Rating</span></li>
                                @if (Model.ProjectStatus.ToString() == "InProgress")
                                {
                                    <li class="first"><i class="fas fa-tasks"></i><span>@Model.Progress% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                                }
                                else
                                {
                                    <li class="first"><i class="fas fa-tasks"></i><span>@Model.ProjectStatus</span></li>
                                }
                            </ul>
                            <div class="clearfix">
                            </div>
                        </div>

                        <div class="span6">
                            <p>
                                @Html.Raw(Model.SanitizedContent)
                            </p>
                        </div>
                    </div>
                    <div id="error" class="alert alert-error" style="display: none"></div>
                    <form id="starRatingsForm" method="post"></form>
                    <div class="block-stars stars_ratings">
                        <ul class="w3l-ratings">
                            <li>
                                <a href="#@Model.Id" onclick="sendRating(@Model.Id, 1)">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#@Model.Id" onclick="sendRating(@Model.Id, 2)">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#@Model.Id" onclick="sendRating(@Model.Id, 3)">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#@Model.Id" onclick="sendRating(@Model.Id, 4)">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#@Model.Id" onclick="sendRating(@Model.Id, 5)">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                        <div id="starRatingsSum_@Model.Id">(@Model.Rating)</div>
                    </div>
                </article>
                <!-- COMMENTS -->
                <div class="block-stars">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-color btn-rounded btn-large" onclick="showAddCommentForm(0)">Add Comment</a>
                    }
                </div>
                <h4>@Model.CommentsCount Comments</h4>
                <ul class="media-list">
                    @{ DisplayComments(null); }
                </ul>
                <!-- comment form -->
                <div class="comment-post">
                    <form id="AddCommentForm" style="display: none" method="post" class="comment-form" name="AddCommentForm" asp-controller="Comments" asp-action="Create">
                        <h4>Leave a comment</h4>
                        <div class="row">
                            <input type="hidden" name="ParentId" value="0" />
                            <input type="hidden" name="ProjectId" value="@this.Model.Id" />
                            <div class="span8">
                                <textarea rows="9" placeholder="Your comment" name="Content" id="Content"></textarea>
                                <button class="btn btn-color btn-rounded" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script type="text/javascript" src="~/js/rating.js"></script>

    <script>
        function showAddCommentForm(parentId) {
            $("#AddCommentForm input[name = 'ParentId']").val(parentId);
            $("#AddCommentForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 1000);
        }
    </script>
}
